#btn1
{
	width:200px;
	height:30px;
	border-image:url(../images/water_surface_background-wallpaper-1600x900.jpg);
	border-radius:20px;
        border:none;
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	font-weight:700;
	background-color: #0062cc;
}
#btn1:hover
{
	text-decoration:none;
	border:none;
	
        background-color: #004085;
}
#f1
{
	margin-top:60px;
	background: transparent;
	width:500px;
	min-height:400px; 
	border-radius:10px;
        background-size:100% 100%;
        float: left;
       
        
}
a
{
    font-size:16px;
    color: #000;
	
}
#txt1,#txt2,#txt3,#txt4,#txt5,#txt6,#txt7
{
	width:200px;
	height:40px;
        border:none;
        background: transparent;
        border-bottom:1px solid #000; 
        outline: none;
        
}
#tt1,#tt2
{
	width:400px;
	height:40px;
        border:none;
        background: transparent;
        border-bottom:1px solid #000; 
        outline: none;
        
}

#h1
{
	min-height:550px;
	width:1366px;
	float:left;
	
        background-size: 100% 100%;
	
}
#p1
{
	text-align:left;
	margin-left:75px;
}
#b2
{
    background-color: skyblue;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid skyblue;
    width: 90px;
    font-size: 18px;
    
}
#h11
{
    font-weight:900; 
    color: #000;
    background-color: #FFF;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
#h2
{
    background-image: url(../images/8.png);
    min-height:560px;
    min-width:1349px;
    background-size: 100% 100%;
}
#btn2
{
	
        border: none;
	text-decoration:none;
        font-family: cursive;
       
      
}
#btn2:hover
{
    color: #999999;
}


#g1
{
    text-decoration: none;
    color: #000;
}
#g1:hover
{
    color: #999999;
}
.search input[type=text]{
            float: left;
            width:200px;
            height:25px;
            border-radius:25px;
            border: none;
         
        }


.search{
    float:right;
    margin:7px;

}

.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  margin-top: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 15px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
